body {
  --main-bg-color: #fcf8e3;
  --contrast-bg-color: #f8edb3;
  --main-title-color: #ff6600;
  --contrast-title-color: #008066;
  --main-text-color: #2b1100;
}

* {
    color:var(--main-text-color);
    font-size:medium;
    font-family: Arial;
}

body {
    background:var(--main-bg-color);
}

h1 {
    color:var(--main-title-color);
    font-size:x-large;
}

#results {
display : flex;
flex-wrap : wrap;
}

input#title, input#ingredients {
width:300px;

}

article.recipe {
background:var(--contrast-bg-color);
width : 23ex;
margin:5px;
padding : 10px;
}

article.recipe h1 {
    color:var(--contrast-title-color);
    font-size:large;
    margin:0px;
}

article.recipe .info {
    font-style:italic;
    font-size:small; 
    color:var(--main-text-color);   
}

article.recipe .ingredients {
    margin : 5px 0px 10px;
    padding : 5px;
    border : 1px solid var(--contrast-title-color);
}

article.recipe h2 {
    color:var(--contrast-title-color);
    margin : 0px;
    margin-bottom : 5px;
    font-size:small;
}
article.recipe .ingredients ul {
    margin : 0px;
    list-style-type : none;
    padding: 0px;
}

article.recipe .ingredients li {
    margin : 0px;
}

article.recipe .ingredients li:before {
    content:"-";
}

article.recipe p {
    margin : 0px;
    margin-bottom: 2px;
}
